table {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  width: 640px;
  border-collapse:
  collapse; border-spacing: 0;
}

td, th {
  border: 1px solid transparent; 
  height: 30px;
  transition:  0.3s; 
}

th {
  background: #DFDFDF;
  font-weight: bold;
}

td {
  background: #FAFAFA;
  text-align: center;
  width: 100px;
}

tr:nth-child(even) td { 
  background: #F1F1F1; 
}

tr:nth-child(odd) td { 
  background: #FEFEFE; 
}

tr td:hover { 
  background: #666; color: #FFF; 
}

th:hover {
  background: #666666;
  transition: all 0.3s;  
}

#first {
  width: 120px;
}

#last {
  width: 120px;
}
